
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>PrepperHub</title>

</head>
<body>

<div class="container">
  <div class="jumbotron" >
    <h1>Prepper Hub</h1>
    <p>Community based aid and shelter in emergency situations.</p><br><br>

      <p class="text-right"><a href="/Shelter/"><button class="btn btn-block" style="background-color:rgb(152,152,152)"> Need Shelter</button></a></p><br>
      <p class="text-right"><a href="/ShelterProvider/"><button class="btn btn-block" style="background-color:rgb(152,152,152)">Have Shelter</button></p>
  </div>
<a href="https://www.ready.gov/hurricanes">
 <img class="img-responsive" src="/static/HurricaneBanner.jpg" alt="Link to US Government disaster readiness">
</a>

</body>
</html>
