
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>PrepperHub</title>

</head>
<body>

    <div class="container">
        <div class="jumbotron">
            <h1 style="font-weight: bold;font-size: 70pt">Prepper Hub</h1>
            <p style="font-size: 20pt; color: lightslategrey">Community based aid and shelter in emergency situations.</p><br>

            <p class="text-right">
                <a href="/Shelter/">
                    <button class="btn btn-block" style="background-color:dimgrey; background-size: 20px 40px; color: white;"> Need Shelter</button>
                </a>
            </p>
            <br>
            <p class="text-right">
                <a href="/ShelterProvider/">
                    <button class="btn btn-block" style="background-color:dimgrey; background-size: 20px 40px; color: white">Have Shelter</button>
                </a>
            </p>
        </div>
        <a href="https://www.ready.gov/hurricanes" >
            <center><img width="100%" height="auto" src="/static/HurricaneBanner.jpg" alt="Link to US Government hurricane disaster readiness"></center>
        </a>
        <br>
        <a href="https://www.ready.gov/tornadoes" >
            <center><img width="100%" height="auto" src="/static/tornado.jpg" alt="Link to US Government tornado disaster readiness"></center>
        </a>
        <br>
        <a href="https://www.ready.gov/earthquakes" >
            <center><img width="100%" height="auto" src="/static/Earthquake.jpg" alt="Link to US Government earthquake disaster readiness"></center>
        </a>
    </div>
</body>
</html>
