<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find a Shelter</title>

    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
</head>


  <body>
    <h3>My shelter</h3>
    <div id="map"></div>
    <script>

      function initMap() {
        //var address =
        var midpoint = {lat: 40, lng: -73};
        var options = {
            zoom: 4,
            center: midpoint}
        var MarkerPos = {lat: 20, lng: -40}

          var map = new
          google.maps.Map(document.getElementById('map'), options);

        var marker = new google.maps.Marker({
          position: MarkerPos,
          map:map
        });

        var infoWindow = new google.maps.InfoWindow({
          content: '<h1>'+ '{{ address }}' +': Has been added as a private shelter.</h1>'
        });

        marker.addListener('click', function(){
          infoWindow.open(map, marker)
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1Udy3X-6-BGZaJt-SIT0OrvUWo_i4uWs&callback=initMap">
    </script>

  Thank you for aiding your community in times of need

</html>