<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>NeedShelter</title>
</head>
<body>
    <form method="POST" action="/provide/">
        <div class="help-form">
            Address: <input type="text" name="AddressH"><br>
            Zip Code: <input type="text" name="ZipCodeH"><br>
            City: <input type="text" name="CityH"><br>
            How many people? <input type="text" name="People"><br>
        </div>
   <input type="submit" value="Submit">
</form>

<p>Click the "Submit" button when done".</p>
</body>
</html>
