<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>ShelterProvider</title>
</head>
<body>
    <form method="POST" action="/send/">
        <div class="form-group"></div>
        <center>Name: <input type="text" name="Name"><center><br>
        <center>Address: <input type="text" name="Address"><center><br>
        <center>City: <input type="text" name="City"><center><br>
        <center>Zip Code: <input type="text" name="ZipCode"><center><br>
        <center>Capacity: <input type="text" name="Capacity"><center><br>
        <center>Notes: <input type="text" name="Notes"><center><br>
        <center>Phone Number: <input type="text" name="Phone"><center><br>

        </div>
           <input class="btn btn-primary" type="submit" value="Submit">
    </form>



<p>Click the "Submit" button when done.</p>

</body>
</html>
