<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Find a Shelter</title>
    <style>
       #map {
           height: 600px;
           width: 100%
           align-content: center;
           margin-left: 100px;
           margin-right: 100px;
       }
    </style>
</head>


  <body>
    <h3 style="text-align: center; margin-top: 50px; margin-bottom: 50px">Shelters</h3>
    <div id="map"></div>

    <script>

      function initMap() {
        //var address =
        var midpoint = {{position}};
        console.log("FUCK YOU")

        var options = {
            zoom: 15,
            center: midpoint};


          var map = new google.maps.Map(document.getElementById('map'), options);


        var shelterLocations = [{lat: 40.680203, lng: -73.975556}, {lat: 40.68259, lng: -73.976933}, {lat: 41.7311947, lng: -74.7010288}, {lat: 40.2311947, lng: -74.9910288}, {lat: 40.751947, lng: -74.9}, {lat: 40.7311947, lng: -74.0010288}, {lat: 40.6762846, lng: -73.9079141}, {lat: 40.697669, lng: -73.99381489999999}, {lat: 40.7245098, lng: -73.9736052}, {lat: 40.7245098, lng: -73.9736052}, {lat: 40.69512870000001, lng: -73.9863335}, {lat: 40.7186326, lng: -73.9534022}];
        var arrayLength = 12;
        for (var i = 0; i < arrayLength; i++) {
            markerMaker(shelterLocations[i], map);
        }
        //markerMaker({{position}}, map);

        console.log("POSITION", {{position}});

      }

      function markerMaker(pos, map1) {
      console.log(pos);
      //console.log(map1);

        var marker = new google.maps.Marker({
              position: pos,
              map: map1
              //animation: animation
        });

        var infoWindow = new google.maps.InfoWindow({
          content: '<h1>Shelter Code: 92,   '+ 'This address appears to be the closest private shelter' +': Please contact the owners at: 929 330 8210.</h1>'
        });

        marker.addListener('click', function(){
          infoWindow.open(map1, marker)
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1Udy3X-6-BGZaJt-SIT0OrvUWo_i4uWs&callback=initMap">

    </script>

    <div class="end" style="margin-left: 30px">
        <br>
        <p>Please input the location of your choosing:</p>
        <form method="POST" action="/update/">
            Shelter Code: <input type="text" name="address">
            How many people will you be arriving with? <input type="text" name="people"><br><br>
            <input type="submit" value="Submit"><br>
            <br><p>Click the "Submit" button when done".</p>
        </form>
    </div>
  </body>

</html>