<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShelterProvider</title>
</head>
<body>
    <form action="/needs.php">
        <center>Address: <input type="text" name="Address"><center><br>
        <center>City: <input type="text" name="City"><center><br>
        <center>Zip Code: <input type="text" name="ZipCode"><center><br>
        <center>Capacity: <input type="text" name="Capacity"><center><br>
        <center>Resources Available: <input type="text" name="Resources"><center><br>
        <center>Need: <input type="text" name="Need"><center><br>
            <a href="/success/"><input type="submit" value="Submit" onclick="Success()"></a>

</form>

<p>Click the "Submit" button when done".</p>

</body>
</html>
