<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Find a Shelter</title>
    <style>
       #map {
           height: 600px;
           width: 100%
           align-content: center;
           margin-left: 100px;
           margin-right: 100px;
       }
    </style>
</head>


  <body>
    <h3 style="text-align: center; margin-top: 50px; margin-bottom: 50px">My Shelter</h3>
    <div id="map"></div>

    <script>

      function initMap() {

        var midpoint = {lat: 45.69512870000001, lng: -70.9863335};
        console.log("FUCK YOU")

        var options = {
            zoom: 0,
            center: midpoint};


        var map = new google.maps.Map(document.getElementById('map'), options);
        console.log({{address|tojson|safe}}.length)
        console.log("ADDRESS",JSON.parse({{address|tojson|safe}}));
        var arrayGeo = JSON.parse({{address|tojson|safe}})
        console.log("SEX",arrayGeo)
        var shelterLocations = {{address|safe}}.length
        console.log("LIST LENGTH",shelterLocations)

        var shelterLocations = arrayGeo ;
        var arrayLength = {{address|safe}}.length;
        for (var i = 0; i < arrayLength; i++) {
            markerMaker(shelterLocations[i], map);
        }
        //markerMaker({{position|tojson|safe}}, map);

        console.log("POSITION", {{position|tojson|safe}});

      }

      function markerMaker(pos, map1) {
      console.log(pos);
      //console.log(map1);

        var marker = new google.maps.Marker({
              position: pos,
              map: map1
              //animation: animation
        });

        var infoWindow = new google.maps.InfoWindow({
          content: '<h1>'+ '{{ address }}' +': Has been added as a private shelter.</h1>'
        });

        marker.addListener('click', function(){
          infoWindow.open(map1, marker)
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1Udy3X-6-BGZaJt-SIT0OrvUWo_i4uWs&callback=initMap">

    </script>

    <div class="end" style="margin-left: 30px">
        <br>
        <p>Please input the location of your choosing:</p>
        <form method="POST" action="/update/">
            Address: <input type="text" name="address">
            How many people? <input type="text" name="people"><br><br>
            <input type="submit" value="Submit"><br>
            <br><p>Click the "Submit" button when done".</p>
        </form>
    </div>
  </body>

</html>