<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>NeedShelter</title>
</head>
<body>
    <div class="content" style="background-color: rgb(160,160,160)">
        <div class="box" style="background: gainsboro; padding-top: 5px; padding-bottom: 100%; margin-left: 30%; margin-right: 30%;">
            <form method="POST" action="/provide/">
                <div class="help-form" style="text-align: center; margin-bottom: 100px; margin-top: 100px">
                    Address: <input type="text" name="AddressH"><br><br>
                    Zip Code: <input type="text" name="ZipCodeH"><br><br>
                    City: <input type="text" name="CityH"><br><br>
                    How many people? <input type="text" name="People"><br><br>
                    <input type="submit" value="Submit"><br>
                    <br><p>Click the "Submit" button when done".</p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
